.container {
    display: flex;
    height: 300px;
    /* gap: 11px; */
    flex-wrap: nowrap;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}

.tabsTime {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.tabsTime button {
    background-color: #537398;
    display: flex;
    font-size: 10px;
    border-radius: 5px;
    color: #fff;
    width: 90px;
    height: 25px;
    border: none;
    align-items: center;
    justify-content: space-evenly;
}
.tabsTime button:disabled{
    background-color: #4a6687;
    display: flex;
        font-size: 10px;
        border-radius: 5px;
        color: #fff;
        width: 90px;
        height: 25px;
        border: none;
        align-items: center;
        justify-content: space-evenly;
}

.tabsTime button:hover {
    background-color: #5e80a7;
}

.timer {
    justify-content: center;
    display: flex;
    align-items: center;
    height: 70px;
    font-size: 100px;
    font-weight: bold;
    color: #fff;
}

.command {
    display: flex;
    height: 80px;
    width: 100%;
    align-items: flex-end;
    justify-content: space-around;
}

.command button {
    display: flex;
    border-radius: 5px;
    color: #fff;
    width: 100px;
    height: 30px;
    border: none;
    align-items: center;
    justify-content: space-evenly;
}

.command button:disabled,
button[disabled] {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
    cursor: not-allowed;
}

.btnStop {
    background-color: #d00000;
}

.btnStop:hover {
    cursor: pointer;
    opacity: 0.7;
}

.btnStop:active {
    opacity: 0.8;
}

.btnPlay {
    background-color: #40916c;
}

.btnPlay:hover {
    cursor: pointer;
    opacity: 0.7;
}

.btnPlay:active {
    opacity: 0.8;
}

.btnRestart {
    background-color: #ffc300;
}

.btnRestart:hover {
    cursor: pointer;
    opacity: 0.7;
}

.btnRestart:active {
    opacity: 0.8;
}